<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<!--Верхняя панель-->
<nav class="navbar navbar-dark bg-dark px-3">
    <span class="navbar-text text-white">
        Админ с именем:
        <span th:text="${currentUsername}"></span>
    </span>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-outline-light btn-sm">Выйти</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Сайдбар -->
        <aside class="col-2 bg-white border-end vh-100 p-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active">Admin</a>
                <a th:href="@{/user}" class="list-group-item list-group-item-action">User</a>

            </div>
        </aside>

        <!-- Основной контент -->
        <main class="col-10 p-4">
            <h2>Панель администратора</h2>

            <!-- Табы -->
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#usersTab" data-bs-toggle="tab">Таблица пользователей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#createTab" data-bs-toggle="tab">Новый пользователь</a>
                </li>
            </ul>

            <!-- Контент табов -->
            <div class="tab-content">
                <!-- Таблица пользователей -->
                <div class="tab-pane fade show active" id="usersTab">
                    <div class="card">
                        <div class="card-header fw-bold">
                            Все пользователи
                        </div>
                        <div class="card-body">
                            <table class="table table-striped align-middle">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Имя пользователя</th>
                                    <th>Роль</th>
                                    <th>Редактировать</th>
                                    <th>Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${#strings.listJoin(user.roles.![name], ', ')}"></td>
                                    <td>
                                        <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                                                th:data-bs-target="'#editModal' + ${user.id}">Редактировать</button>

                                        <!-- Модальное окно редактирования -->
                                        <div class="modal fade" th:id="'editModal' + ${user.id}" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Редактировать пользователя</h5>
                                                        <button class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <form th:action="@{/admin/{id}(id=${user.id})}" method="post">
                                                        <input type="hidden" name="_method" value="PATCH">
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label class="form-label">ID</label>
                                                                <input type="text" class="form-control" th:value="${user.id}" readonly disabled>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label">Имя пользователя</label>
                                                                <input type="text" class="form-control" name="username" th:value="${user.username}" required>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label">Пароль</label>
                                                                <input type="password" class="form-control" name="password"
                                                                       placeholder="Введите новый пароль">
                                                                <small class="text-muted">Оставьте пустым, если не хотите менять пароль</small>
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label">Роль</label>
                                                                <select class="form-select" multiple size="2" name="roleIds">
                                                                    <option value="2" th:selected="${#lists.contains(user.roles.![id], 2)}">ROLE_USER</option>
                                                                    <option value="1" th:selected="${#lists.contains(user.roles.![id], 1)}">ROLE_ADMIN</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteModal' + ${user.id}">Удалить</button>

                                        <!-- Модальное окно удаления -->
                                        <div class="modal fade" th:id="'deleteModal' + ${user.id}" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Удалить пользователя</h5>
                                                        <button class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <form th:action="@{/admin/{id}(id=${user.id})}" method="post">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <div class="modal-body">
                                                            <div class="mb-2">
                                                                <label class="form-label">ID</label>
                                                                <input class="form-control" th:value="${user.id}" disabled>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label class="form-label">Username</label>
                                                                <input class="form-control" th:value="${user.username}" disabled>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label class="form-label">Role</label>
                                                                <input class="form-control" th:value="${#strings.listJoin(user.roles.![name], ', ')}" disabled>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger">Удалить</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Создание пользователя -->
                <div class="tab-pane fade" id="createTab">
                    <div class="card">
                        <div class="card-header fw-bold">
                            Создание нового пользователя
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin}" th:object="${newUser}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Имя пользователя</label>
                                    <input type="text" class="form-control" id="username" th:field="*{username}"
                                           placeholder="Введите имя пользователя" required>
                                    <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                                        <span th:errors="*{username}"></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Пароль</label>
                                    <input type="password" class="form-control" id="password" th:field="*{password}"
                                           placeholder="Введите пароль" required>
                                    <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                                        <span th:errors="*{password}"></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Роль</label>
                                    <select class="form-select" multiple size="2" name="roleIds">
                                        <option value="2">ROLE_USER</option>
                                        <option value="1">ROLE_ADMIN</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Создать пользователя</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>